#header {
    transition: top 0.3s ease-in-out;
}

.header-hidden {
    top: -120px; 
}

.hero-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.hero-content {
    position: relative;
    z-index: 2;
}